body {

}

body, input, textarea {
  font-family: Actor;
  color: #333;
  font-size: 18px;
}

h1, h2, h3, h4 {
  font-family: Roboto Slab;
}

h1, h2 {
  font-weight: 400;
  letter-spacing: -1px;
}

h1 {
  font-size: 3.8em;
}
h2 {
  font-size: 2em;
}

.w {
  margin: 0 auto;
  max-width: 980px;
}
.section {
  padding: 5vmin 0;
}

.slogan {
  font-size: 1.3em;
}

.txt-center {
  text-align: center;
}

.header {
  background: #fcfcfc;
  overflow: hidden;
}
.ereader {
  margin-bottom: -8rem;
}

.gallery {
  background: #555 url(gallery-bg.jpg) repeat;
  color: #ddd;
}
.gallery h1, .gallery h2 {
  color: #fff;
}
.gallery a {
  color: #ddd;
  text-decoration: underline;
}
.single-line {
  padding: 0.5rem;
}

.book-gallery {
  overflow: auto;
}
.book-container {
  width: 25%;
  float: left;
  margin-top: 1rem;
}
.book {
  width: 100%;
  height: 0;
  padding-bottom: 133.33%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #808080;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 1px 5px;
}
.book::after {
  display: block;
  position: absolute;
  bottom: 0.5rem;
  right: -0.5rem;
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  font-size: 0.75em;
  text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
}
.book.-alpha::after {
  background: #C0392B;
  content: 'Alpha'
}
.book.-beta::after {
  background: #E67E22;
  content: 'Beta'
}
.book.-stable::after {
  background: #27AE60;
  content: 'Stable'
}
.book-title {
  font-weight: 700;
  margin-top: 1rem;
}
.book-controls {
  padding-top: 0.5rem;
}
.book-controls-control {
  padding: 0.25rem 0.5rem;
  border:1px solid #777;
  border-radius: 2rem;
  color: #eee;
  font-size: 0.75em;
  text-decoration: none !important;
}
.book-controls-control:hover {
  border-color: #fff;
  color: #fff;
}

.github-corner {
  position: fixed;
  top: 0;
  right: 0;
}
