body {
  background: #fcfcfc;
}

body, input, textarea {
  font-family: Actor;
  color: #333;
  font-size: 18px;
}

h1, h2, h3, h4 {
  font-family: Roboto Slab;
}

h1, h2 {
  font-weight: 400;
  letter-spacing: -1px;
}

h1 {
  font-size: 3.8em;
}
h2 {
  font-size: 2em;
}

.w {
  margin: 0 auto;
  max-width: 980px;
}
.section {
  padding: 5vmin 0;
}

.slogan {
  font-size: 1.3em;
}

.txt-center {
  text-align: center;
}

.header {
  background: #fcfcfc;
  overflow: hidden;
}
.ereader {
  margin-bottom: -8rem;
}

.gallery {
  background: #555 url(gallery-bg.jpg) repeat;
  color: #ddd;
}
.gallery h1, .gallery h2 {
  color: #fff;
}
.gallery a {
  color: #ddd;
  text-decoration: underline;
}
.single-line {
  padding: 0.5rem;
}

.book-gallery {
  overflow: auto;
}
.book-container {
  min-width: 25%;
  float: left;
  margin-top: 1rem;
}
.book {
  width: 100%;
  height: 0;
  padding-bottom: 133.33%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #808080;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 1px 5px;
}
.book::after {
  display: block;
  position: absolute;
  bottom: 0.5rem;
  right: -0.5rem;
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  font-size: 0.7em;
  text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
}
.book.-alpha::after {
  background: #C0392B;
  content: 'Alpha'
}
.book.-beta::after {
  background: #E67E22;
  content: 'Beta'
}
.book.-stable::after {
  background: #27AE60;
  content: 'Stable'
}

.badge-explication {
  padding-bottom: 1rem;
}
.badge-explication-item {
  padding: 0.25rem 0;
  font-size: 14px;
  line-height: 1;
}
.badge-explication-item-descriptor {
  padding: 0.25rem 0.5rem;
}
.badge {
  text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  margin-right: 0.25rem;
}
.badge.-alpha {
  background: #C0392B;
}
.badge.-beta {
  background: #E67E22;
}
.badge.-stable {
  background: #27AE60;
}

.book-title {
  font-weight: 700;
  margin-top: 1rem;
}
.book-date {
  font-size: 0.8em;
  font-weight: 400;
}
.book-controls {
  padding-top: 0.5rem;
}
.book-controls-control {
  padding: 0.33rem 0.8rem;
  border:1px solid #777;
  border-radius: 2rem;
  color: #eee;
  font-size: 0.75em;
  text-decoration: none !important;
}
.book-controls-control:hover {
  border-color: #fff;
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
}

.github-corner {
  position: fixed;
  top: 0;
  right: 0;
}

.footer {
  background: #eee;
}

@media screen and (max-width: 980px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  .hide-on-mobile {
    display: none;
  }

  .center-on-mobile {
    text-align: center;
  }

  h1 {
    font-size: 3em;
  }

  body {
    font-size: 14px;
  }
}
